.bannerSection{
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #f1f1f0;
    padding: 10px 0px;
}

.main-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    padding: 5% 0%;
}
.new{
    font-size: 4em;
    font-weight: 400;
    padding: 10px;
}
.description{
    color: #8f8f8f;
    font-size: 1.3em;
    text-align: justify;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: top center;
    /* width: 30vw; */
    gap: 20px;
}
.item-section{
    display: flex;
    flex-direction: column;
    width: 28vw;
}
.itemImage{
    width: 100%;
}
.img-title{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.image-title{
    font-size: 1.3em;
    padding: 10px 0px;
}
.image-description{
    font-size: 1em;
    color: #8f8f8f;
    padding-bottom: 10px;

}
.discovernow{
    text-decoration: underline;
    text-decoration-color: #8f8f8f;
    text-decoration-thickness: 0.1em;
}
.details{
    padding: 1.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* width: 20vw; */
}
.details-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.h4{
    font-size: 1.5em;
}
.shippingDes{
    color: #8f8f8f;
    font-size: 1em;
}
.details-card:hover{
    border: 5px solid #f1f1f0;
    border-radius: 10px;
}
.gender-selection{
    padding: 1.2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 10px;
}
.gender{
    width: 30vw;
}

.gender>img:hover{
    transform: scale(0.9);
    transition: 0.6s ease;
}
.shop{
    padding:1em 0em; 
    color: grey;
    font-size: 1em;
}
.genderImg{
    width: 100%;
}
/* .new-arrivals{
    padding: 1.2em;
} */
 .new-arrivals{
    display: flex;
    flex-direction: column;
 }

 .newItems{
    place-items: center center;
    gap: 2%;
 }
.new-arrivals>span{
    font-size: 1.5em;
    font-weight: bold;
}

.collection{
    margin: 7% 0% 0% 0%;
    padding: 1.2em 0em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    /* gap: 1em; */
    background-color: #f1f1f0;
}
.collection-section-1, .collection-section-2{
    width: 45vw;
}
.collectionImage{
    width: 100%;
    height: 100%;
}

.collection-section-2{
    background-color: #fff;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
}
.shopbutton{
    background-color: black;
    color: #fff;
    padding: 10px;
}
.collection-title{
    font-size: 3.5em;
}
.collection-description{
    color: #8f8f8f;
}
/* .animation{
    background-image: url('https://themewagon.github.io/kaira/images/text-pattern.png');
    background-size: cover;
    height: 100vh;
} */

.blogs-section{
    padding: 1.2em;
    display: flex;
    flex-direction: column;
}
.title{
    padding: 1em 0em;
    display: flex;
    justify-content: space-between;
}
.blog{
    font-size: 1.3em;
    font-weight: 500;
}

.articles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.article-1{
    width: 28vw;
    height: 60vh;
}
.article-1>img{
    height: 50%;
    width: 100%;
}
.articleData{
    display: flex;
    flex-direction: column;
}
.articleDate{
    font-size: 20px;
    color: #8f8f8f;
}
.articleDescri{
    font-size: 1.9em;
    padding: 0.8em 0em;
}
.articleDescri+span{
    color: #8f8f8f;
}
.viewAll{
    font-size: 16px;
    font-weight: 100;
    text-decoration: underline;
    margin-right: 20px;
}

.logoSection{
    margin: 1.2em 0em;
    padding: 1.2em 0em;
    display: flex;
    justify-content: space-between;
}
.logoImage{
    width: 15vw;
    height: 80px;
}

.letters{
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
    padding: 1.2em 0em;
    background-color: #f1f1f0;
}
.letters-top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lettersImgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}
.lettersImage{
    height: 30vh;
    width: 15%;
}
.follow{
    background-color: black;
    color: #fff;
    font-size: 1em;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 6px;
    position: absolute;
    left: 40%;
    bottom: -20px;
}

.letters-top-section{
    padding: 10% 0%;
}
.letterTitle{
    font-size: 3em;
    margin: 20px 0px;
}
input[type='text']{
    width: 50vw;
    height: 50px;
    margin-bottom: 20px;
}
.button{
    background-color: black;
    color: #fff;
    width: 50vw;
    padding: 10px;
}

@media screen and (min-width:700px) and (max-width:1100px){
    .bannerSection{
        display: flex;
        flex-direction: column;
        padding: 10% 0%;
    }
    .main-title{
        width: 80vw;
        padding: 0% 5%;
    }
    .new{
        font-size: 2em;
    }
    .details{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-items: center center;
    }
    .follow{
        padding: 10px;
        left: 35%;
        bottom: 0px;
    }
    
}

@media screen and (max-width:700px){
    .bannerSection{
        padding: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-title{
        width: 60vw;
    }
    .new{
        font-size: 2.5em;
    }
    .description{
        font-size: 16px;
    }
    .items{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-title{
        width: 100%;
    }
    #itemSection1,#itemSection3, #itemSection5{
        display: none;
    }
    .itemImage{
        width: 100%;
    }
.item-section{
    width: 80vw;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
    .details-card{
        width: 80vw;
    }
    .gender-selection{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gender{
        width: 80vw;
    }
    .collection{
        display: flex;
        flex-direction: column;
    }
    .collection-title{
        font-size: 1.5em;
    }
    .collection-section-1, .collection-section-2{
        width: 80vw;
    }
    .title{
        font-size: 1em;
        font-weight: 600;
    }
    .articles{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        place-items: center center;
    }
    .article-1{
        width: 60vw;
    }
    .logoSection{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:10% 3%;
    }
    .logoImage{
        width: 40vw;
    }
    #logoImage{
        display: none;
    }
    .lettersImgs{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        place-items: center;
        gap: 10px 10px;
    }
    .lettersImage{
        height: 25vh;
        width: 28vw;
    }
    .follow{
        padding: 10px;
        left: 25%;
        bottom: 0px;
    }
    .letterTitle{
        font-size: 2.5em;
        margin: 20px 0px;
    }
    input[type='text'], .button{
        width: 80vw;
    }
    .blog{
        font-size: 20px;
    }
    .articleDescri{
        font-size: 1.5em;
    }
}